### 读取文件的方法以pd.read_ 开头，而写入的方法以pd.to_开头

read_csv to_csv
read_json to_json
read_clipboard to_clipboard
read_excel to_excel
read_hdf to_hdf
read_pickle to_pickle
read_sql to_sql

In [ ]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame


# 从剪切板读取数据
df1 = pd.read_clipboard()
# 把数据放入到剪切板中，数据可以直接粘贴到excel文件中
df1.to_clipboard()
# 读写csv文件，可以取消index
de1.to_csv('df1.csv')
df1.to_csv('df1_noIndex.csv',index = False)
# 转化为Json数据
df1.to_json('df1.json')
# 转化为html格式
df1.to_html('df1.html')
# 转化为excel格式
df1.to_excel('df1.xlsx')

In [ ]:
df = pd.read_csv('temp.csv')
print(df)

df = pd.read_csv('temp.csv',dtype={'Salary':np.float64})
print(df)
print(df.dtypes)

df = pd.read_csv('temp.csv',index_col=['S.No'])
print(df)


df = pd.read_csv('temp.csv',names=['a','b','c','d','e'])
print(df)
# 如果多的列没有值，下面会自动填充NAN，如果列名设置少了，会从后往前给

df = pd.read_csv('temp.csv',skiprow=2)
print(df)

count()数量
sum()所有值之和
mean()所有值的平均值
median()所有值的中位数
std()所有值的标准偏差
min()所有值的最小值
max()所有值的最大值
abs()绝对值
prob()数组元素的乘积
cumsum()累计总和
cumprod()累计乘和

In [1]:
import pandas as pd
import numpy as np

d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Minsu','Jack','Lee','David','Grasper','Betina','Andres']),'Age':pd.Series([25,14,15,26,23,32,18,12,23,25,24,10]),'Rating':pd.Series([4.23,5.213,1.42,4.241,2.421,4.12,3.12,5.124,6.124,4.124,5.14,3.15])}

df = pd.DataFrame(d)
print(df,'\n')
print(df.sum(),'\n') # 列求和 默认axis=0
print(df.sum(1),'\n') # 行求和 axis=1
print(df.mean(),'\n') # 求均值
print(df.std(),'\n')  # 标准差

       Name  Age  Rating
0       Tom   25   4.230
1     James   14   5.213
2     Ricky   15   1.420
3       Vin   26   4.241
4     Steve   23   2.421
5     Minsu   32   4.120
6      Jack   18   3.120
7       Lee   12   5.124
8     David   23   6.124
9   Grasper   25   4.124
10   Betina   24   5.140
11   Andres   10   3.150

Name      TomJamesRickyVinSteveMinsuJackLeeDavidGrasperB...
Age                                                     247
Rating                                               48.427
dtype: object

0     29.230
1     19.213
2     16.420
3     30.241
4     25.421
5     36.120
6     21.120
7     17.124
8     29.124
9     29.124
10    29.140
11    13.150
dtype: float64

Age       20.583333
Rating     4.035583
dtype: float64

Age       6.666856
Rating    1.325204
dtype: float64

C:\Users\PC095\AppData\Local\Temp\ipykernel_3492\2554102708.py:9: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df.sum(1),'\n') # 行求和 axis=1
C:\Users\PC095\AppData\Local\Temp\ipykernel_3492\2554102708.py:10: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.mean(),'\n') # 求均值
C:\Users\PC095\AppData\Local\Temp\ipykernel_3492\2554102708.py:11: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.std(),'\n')  # 标准差

迭代与遍历

简言之，基本迭代（对于i在对象中）产生：

Series-值
DataFrame-列标签
要遍历数据帧（DataFrame）中的行，可以使用一下的函数：

iteritems（） -迭代（key，value）对
iterrows（） -将行迭代为（索引，系列）对
itertuples（） -以namedtuples的形式迭代行

In [2]:
N = 5
df = pd.DataFrame({
    'D':pd.date_range(start='2020-01-01',periods=N,freq='M'),
    'x':np.linspace(0,stop=N-1,num=N),
    'y':np.random.rand(N),
    'z':np.random.choice(['Low','Medium','High'],N).tolist(),
    })

print(df,'\n')

           D    x         y       z
0 2020-01-31  0.0  0.887163  Medium
1 2020-02-29  1.0  0.137366  Medium
2 2020-03-31  2.0  0.980580    High
3 2020-04-30  3.0  0.304900    High
4 2020-05-31  4.0  0.933434    High

In [3]:
for col in df:
    print(col)

D
x
y
z

遍历iteritems（）将么一个列作为名称，将索引和值作为键和罗列值迭代为Series对象

In [6]:
df = pd.DataFrame(
    np.random.rand(4,3),columns=['col1','col2','col3'])
print(df,'\n')
for key,value in df.iteritems():
    print(key,value,'\n')

       col1      col2      col3
0  0.708217  0.388186  0.633133
1  0.172379  0.534523  0.497469
2  0.914237  0.936065  0.621215
3  0.769572  0.249844  0.382799

col1 0    0.708217
1    0.172379
2    0.914237
3    0.769572
Name: col1, dtype: float64

col2 0    0.388186
1    0.534523
2    0.936065
3    0.249844
Name: col2, dtype: float64

col3 0    0.633133
1    0.497469
2    0.621215
3    0.382799
Name: col3, dtype: float64

C:\Users\PC095\AppData\Local\Temp\ipykernel_3492\2962548015.py:4: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for key,value in df.iteritems():

iterrows（）返回迭代器，产生每个索引值以及包含每行数据的序列

In [7]:
print(df,'\n')
for row_index,row in df.iterrows():
    print(row_index,row,'\n')

       col1      col2      col3
0  0.708217  0.388186  0.633133
1  0.172379  0.534523  0.497469
2  0.914237  0.936065  0.621215
3  0.769572  0.249844  0.382799

0 col1    0.708217
col2    0.388186
col3    0.633133
Name: 0, dtype: float64

1 col1    0.172379
col2    0.534523
col3    0.497469
Name: 1, dtype: float64

2 col1    0.914237
col2    0.936065
col3    0.621215
Name: 2, dtype: float64

3 col1    0.769572
col2    0.249844
col3    0.382799
Name: 3, dtype: float64

itertuples（）方法将DataFrame中的每一行返回产生一个命名元组的迭代器，元组的第一个元素将是行的相应索引值，二剩余的值时行值。

In [12]:
print(df,'\n')
for row in df.itertuples():
    print(row,'\n')

       col1      col2      col3
0  0.708217  0.388186  0.633133
1  0.172379  0.534523  0.497469
2  0.914237  0.936065  0.621215
3  0.769572  0.249844  0.382799

Pandas(Index=0, col1=0.7082171113300679, col2=0.3881856098747366, col3=0.633133378708478)

Pandas(Index=1, col1=0.17237901539995915, col2=0.5345233991996908, col3=0.49746921566380253)

Pandas(Index=2, col1=0.9142368487657745, col2=0.9360647958132131, col3=0.6212147674569429)

Pandas(Index=3, col1=0.7695717239510638, col2=0.24984392584043402, col3=0.3827988067208249)

排序

## 按索引排序：使用sort_index（）方法，通过传递axis参数和排序顺序，可以对DataFrame进行排序。默认情况下，按照圣墟对行标签进行排序

## 按数值排序：sort_values()是按值排序方法。它接受一个by参数，它将使用要与其排序值的DataFrame的列名称

## 排序顺序：通过将布尔值传递给升序参数ascending可以控制排序顺序

## 按行或列排序：通过设置axis参数为0或1，为0时逐行排序，为1时逐列排序，默认为0

In [13]:
unsorted_df = pd.DataFrame(np.random.rand(10,2),index=[1,4,6,2,3,5,9,8,0,7],columns=['A','B'])
print(unsorted_df,'\n')

          A         B
1  0.340123  0.918044
4  0.604868  0.439141
6  0.575787  0.736709
2  0.091643  0.163994
3  0.469389  0.657095
5  0.764279  0.836634
9  0.826005  0.294855
8  0.831732  0.535574
0  0.662168  0.883522
7  0.951893  0.005511

In [14]:
sorted_df = unsorted_df.sort_index(ascending = True)
print(sorted_df,'\n') #按索引排序

          A         B
0  0.662168  0.883522
1  0.340123  0.918044
2  0.091643  0.163994
3  0.469389  0.657095
4  0.604868  0.439141
5  0.764279  0.836634
6  0.575787  0.736709
7  0.951893  0.005511
8  0.831732  0.535574
9  0.826005  0.294855

In [15]:
sorted_df = unsorted_df.sort_values(by='B')
print(sorted_df,'\n') # 按'B'列的值进行排序

          A         B
7  0.951893  0.005511
2  0.091643  0.163994
9  0.826005  0.294855
4  0.604868  0.439141
8  0.831732  0.535574
3  0.469389  0.657095
6  0.575787  0.736709
5  0.764279  0.836634
0  0.662168  0.883522
1  0.340123  0.918044


缺失值处理包括：

##### 缺失值标记
##### 缺失值填充
##### 缺失值插值

In [18]:
df = pd.DataFrame(np.random.rand(4,3),index=['a','c','e','f'],columns=['one','two','three'])
df = df.reindex(['a','b','c','d','e','f','g'])
print(df,'\n')

        one       two     three
a  0.257832  0.718863  0.136085
b       NaN       NaN       NaN
c  0.819180  0.082669  0.971638
d       NaN       NaN       NaN
e  0.730209  0.448793  0.272890
f  0.551064  0.364964  0.882067
g       NaN       NaN       NaN

In [19]:
print(df['one'].isnull,'\n')
print(df['one'].notnull,'\n')

<bound method Series.isnull of a    0.257832
b         NaN
c    0.819180
d         NaN
e    0.730209
f    0.551064
g         NaN
Name: one, dtype: float64>

<bound method Series.notnull of a    0.257832
b         NaN
c    0.819180
d         NaN
e    0.730209
f    0.551064
g         NaN
Name: one, dtype: float64>

用标量值替换NaN

print(df.dillna(0))
向前填充：pad/fill

向后填充：bfill/backfill

In [ ]:

print(df.fillna(method='pad'))

print(df.fillna(method='backfill'))

丢弃缺少的值：如过只想排除缺少的值，则使用dropna函数和axis参数。默认情况下，axis=0，如果行内的任何值是NaN，那么整行被删除

In [ ]:
## 丢弃NaN值的行
print(df.dropna())

## 丢弃含NaNDE列
print(df.dropna(axis=1))